.text-centered {
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
}

.smaller-text {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}

.dark-background {
  background-color: #45088a;
  color: #ffffff;
  text-align: center;
}

.light-background {
  background-color: #fff9f2;
  color: #1E1E1E;
  line-height: 20px;
}

.wrapper {
  width: 500px;
  margin: auto;
  height: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contact {
  text-align: center;
  font-size: 20px;
}

hr {
  border-top: 1px dashed #2e014d;
}
/* basic list*/
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* simple links */
a:link {
  color: #45088a;
}

a:visited {
  color: #17a607;
}

a:hover {
  color: #FF00FF;
}

a:active {
  color: #0000FF;
}